<div class="nexmoe-widget-wrap">
   <div id="he-plugin-standard"></div>
    <script>
    WIDGET = {
    "CONFIG": {
        "layout": "2",
        "width": "200",
        "height": "110",
        "background": "2",
        "dataColor": "000000",
        "borderRadius": "13",
        "modules": "10",
        "key": "e7b426b0b43543299f56e294e40668c0"
    }
    }
    </script>
    <script src="https://widget.qweather.net/standard/static/js/he-standard-common.js?v=2.0"></script> 
</div>  